<div class="dashboard">
    <app-side-bar></app-side-bar>
    <div class="dashboard-content">
        <div class="left-column">
            <app-header></app-header>
            <div class="leftSubContainer">
                <div class="firstContainer">
                    <app-vendor-breakdown></app-vendor-breakdown>
                </div>
                <div class="secondContainer">
                    <app-vendors-monitored></app-vendors-monitored>
                </div>
            </div>
            <div>
                <app-user-list></app-user-list>
            </div>
        </div>
    </div>
  </div>